AWS_ACCESS_KEY_ID=**********************
AWS_SECRET_ACCESS_KEY=*************************

DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=twitter
TEST_DB_NAME=testdb

REDIS_HOST=redis
REDIS_PORT=6379
